<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	  <property name="locations">
	    <list>
        <value>classpath:allmon.properties</value>
	    </list>
	  </property>
	  <property name="ignoreUnresolvablePlaceholders"><value>true</value></property>
	</bean>
	
	<bean id="allmonDataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${allmon.server.db.driverClassName}" />
		<property name="url" value="${allmon.server.db.url}" />
		<property name="username" value="${allmon.server.db.username}" />
		<property name="password" value="${allmon.server.db.password}" />
		<!--
		<property name="initialSize" value="10"/>
    <property name="maxActive" value="20"/>
    <property name="defaultAutoCommit" value="true"/>
    <property name="poolPreparedStatements" value="false"/>
		<property name="defaultTransactionIsolation" value="2"/>
		-->
		<!--
			<property name="url"><value>jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=LONTD03.CORP.TTC)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=realtime)))</value></property>
			<property name="driverClassName"><value>org.apache.derby.jdbc.EmbeddedDriver</value></property>
			<property name="url"><value>jdbc:derby:springallmon;create=true</value></property>
		-->
	</bean>
  
	<bean id="allmonHibernateProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="properties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.OracleDialect</prop>
				<prop key="hibernate.query.substitutions">true 'T', false 'F'</prop>
				<prop key="hibernate.show_sql">${allmon.server.db.hibernate.show_sql}</prop>
				<prop key="hibernate.c3p0.minPoolSize">10</prop>
				<prop key="hibernate.c3p0.maxPoolSize">30</prop>
				<prop key="hibernate.c3p0.timeout">600</prop>
				<prop key="hibernate.c3p0.max_statement">50</prop>
				<prop key="hibernate.c3p0.testConnectionOnCheckout">false</prop>
			</props>
		</property>
	</bean>

	<!-- Hibernate SessionFactory -->
	<bean id="allmonSessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref local="allmonDataSource" />
		</property>
		<property name="hibernateProperties">
			<ref bean="allmonHibernateProperties" />
		</property>
		<property name="annotatedClasses">
      <list>
        <value>org.allmon.server.loader.RawMetric2</value>
      </list>
    </property>
	</bean>

	<bean id="rawMetric2DAOTarget" class="org.allmon.server.loader.RawMetric2DAOImpl">
		<property name="sessionFactory">
			<ref local="allmonSessionFactory" />
		</property>
	</bean>

  <bean id="rawMetricLoadToAllmetricDAOTarget" class="org.allmon.server.loader.RawMetricLoadToAllmetricDAOImpl" >
    <property name="sessionFactory">
      <ref local="allmonSessionFactory" />
    </property>
    <property name="dataSource">
      <ref local="allmonDataSource" />
    </property>
  </bean>

	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="allmonSessionFactory" />
		</property>
	</bean>

	<bean id="userDAO" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref local="transactionManager" />
		</property>
		<property name="target">
			<ref local="rawMetric2DAOTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="addMeric">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>

</beans>