<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	
	
	<bean id="messageBean" class="org.allmon.client.agent.aop.HelloWorldImpl">
		<property name="message" value="Helo World message ...."></property>
	</bean>


	<!-- at the begining of monitored app -->
	<bean id="AgentContext" class="org.allmon.client.agent.AgentContext" />
	<!-- call stop agentContext.stop(); -->
	
	<bean id="monitoringAdvice" class="org.allmon.client.agent.advices.JavaCallAdvice" >
		<property name="agentContext" ref="AgentContext" />
	</bean>
		
	<aop:config>
		<aop:aspect id="someAspect" ref="monitoringAdvice">
			<aop:pointcut id="methodJoinPoint" expression="execution(* org.allmon.client.agent.aop.*.*(..)) and args(..)" />
			<aop:around method="profile" pointcut-ref="methodJoinPoint" />
		</aop:aspect>
	</aop:config>
</beans>
