<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:ws="http://jax-ws.dev.java.net/spring/core"
	xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd   
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd   
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd   
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd   
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd"
	default-lazy-init="false">
	
	<!-- http://www.codercorp.com/blog/tips-and-tricks/monitoring-spring-based-applications-hibernate-statistics-using-jmx-example.html -->
	<!-- http://www.codercorp.com/blog/wp-content/uploads/2009/01/spring-jmx.xml -->
	<!--
	<bean  id="exporter1" class="org.springframework.jmx.export.MBeanExporter">
		<property name="autodetect" value="false" />
		<property name="assembler">
			<bean id="jmxAssembler"
				class="org.springframework.jmx.export.assembler.MetadataMBeanInfoAssembler">
				<property name="attributeSource">
					<bean class="org.springframework.jmx.export.annotation.AnnotationJmxAttributeSource" />
				</property>
			</bean>
		</property>
		<property name="beans">
			<map>
				<entry key="org.hibernate:name=statistics">
					<bean class="org.hibernate.jmx.StatisticsService">
						<property name="statisticsEnabled" value="true" />
						<property name="sessionFactory" ref="sessionFactory" />
					</bean>
				</entry>
			</map>
		</property>
	</bean>
	-->
 
	<!-- http://static.springsource.org/spring/docs/3.0.0.M3/spring-framework-reference/html/ch24s02.html -->
	<bean id="exporter2" class="org.springframework.jmx.export.MBeanExporter">
		<property name="beans">
			<map>
				<entry key="bean:name=testBean1" value-ref="testBean" />
			</map>
		</property>
	</bean>
	<bean id="testBean" class="org.allmon.client.agent.jmx.spring.JmxTestBean">
		<property name="name" value="TEST" />
		<property name="age" value="100" />
	</bean>

</beans>